name: Terraform GitHub App Auth

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Create private key file
        run: |
          cd poc
          echo "${{ secrets.APP_PRIVATE_KEY }}" > private-key.pem
          chmod 600 private-key.pem

      - name: Terraform Init
        env:
          TF_VAR_app_id: ${{ secrets.APP_ID }}
          TF_VAR_app_installation_id: ${{ secrets.APP_INSTALLATION_ID }}
        run: terraform init

      - name: Terraform Apply
        env:
          TF_VAR_app_id: ${{ secrets.APP_ID }}
          TF_VAR_app_installation_id: ${{ secrets.APP_INSTALLATION_ID }}
        run: terraform apply -auto-approve
